<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="VentasDBContext" connectionString="data source=DESKTOP-JSIT42C\SQLEXPRESS; initial catalog=Practico1; integrated security=SSPI" providerName="System.Data.SqlClient" />-->  <!--DESKTOP-JSIT42C\SQLEXPRESS-->
    <add name="VentasDBContext" connectionString="data source=DESKTOP-JSIT42C\SQLEXPRESS; initial catalog=VentasDBContext; integrated security=SSPI" providerName="System.Data.SqlClient" />
    <!--<add name="prueba" connectionString="data source=DESKTOP-JSIT42C\SQLEXPRESS; initial catalog=prueba; integrated security=SSPI" providerName="System.Data.SqlClient" />-->
    <add name="TenantsDBContext" connectionString="data source=DESKTOP-JSIT42C\SQLEXPRESS; initial catalog=TenantsDB; integrated security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
